<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	<title>Admin Page</title>
</head>
<body>
	<div class="container">
		<h1>Register one time key</h1>
		{% if admin != None %}
		<h1>Key: %admin%</h1>
		{% endif %}
		<form method="POST">
			<div class="form-group">
				<label>Reciever: </label>
				<input type="text" class="form-control" name="rcv" placeholder="12 34 56 78" />
			</div>

			<button type="submit" class="btn btn-primary">Send key</button>
		</form>
	</div>
</body>
</html>