<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet" 
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	<title>Receipt</title>
</head>
<body>
	<div class="container">
		<h1>Status</h1>
		<table class="table table-striped">
			<tbody>
				{% if mbird %}
				<tr>
					<td>From</td>
					<td>{{ data.originator }}</td>
					</tr>	
					<tr>
						<td>To</td>
						<td>+{{ data.recipients['items'][0].recipient }}</td>
					</tr>
					<tr>
						<td>Status</td>
						<td>{{ data.recipients['items'][0].status }}</td>
					</tr>
					<tr>
						<td>Message</td>
						<td>{{ data.body }}</td>
					</tr>
					{% if admin %}
					<tr>
						<td>UID</td>
						<td>{{ data.id }}</td>
					</tr>
					{% endif %}
					{% if key != None %}
					<tr>
						<td>Key</td>
						<td>{{ key }}</td>
					</tr>
					{% endif %}
				{% else %}
				<tr>
					<td>From</td>
					<td>{{ data["to"] }}</td>
				</tr>	
				<tr>
					<td>To</td>
					<td>{{ data["msisdn"] }}</td>
				</tr>
				<tr>
					<td>Status</td>
					<td>{{ data["status"] }}</td>
				</tr>
				<tr>
					<td>Code</td>
					<td>{{ data["err-code"] }}</td>
				</tr>
				{% if admin %}
				<tr>
					<td>UID</td>
					<td>{{ data["messageId"] }}</td>
				</tr>
				<tr>
					<td>Total Price</td>
					<td>${{ data["price"] }}</td>
				</tr>
				{% endif %}
				{% if key != None %}
				<tr>
					<td>Key</td>
					<td>{{ key }}</td>
				</tr>
				{% endif %}
				{% endif %}
			</tbody>
		</table>
	</div>
</body>
</html>