<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet" 
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	<title>SMSService</title>
</head>
<body>
	<div class="container">
		<h1>Status</h1>
		<table class="table table-striped">
			<tbody>
				<tr>
					<td>From</td>
					<td>+{{ data[msisdn] }}</td>
				</tr>	
				<tr>
					<td>To</td>
					<td>+{{ data[to] }}</td>
				</tr>
				<tr>
					<td>Status</td>
					<td>{{ data[status] }}</td>
				</tr>
				<tr>
					<td>Code</td>
					<td>{{ data[status] }}</td>
				</tr>
				{% if admin %}
				<tr>
					<td>UUID(s)</td>
					<td>{{ data[messageId] }}</td>
				</tr>
				<tr>
					<td>Total Price</td>
					<td>{{ data[price] }}$</td>
				</tr>
				{% endif %}
				{% if key != None %}
				<tr>
					<td>Key</td>
					<td>{{ key }}</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
</body>
</html>