<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	<title>Send sms</title>
</head>
<body>
	<div class="container">
		<h1>Send SMS</h1>
		<form method="POST">
			<div class="form-group">
				<label>Source: </label>
				<input type="text" class="form-control" name="src" placeholder="12 34 56 78" />
			</div>
			<div class="form-group">
				<label>Destination: </label>
				<input type="text" class="form-control" name="dst" placeholder="12 34 56 78" />
			</div>
			{% if not admin %}
			<div class="form-group">
				<label>Key: </label>
				<input type="text" class="form-control" name="key" placeholder="Insert key" />
			</div>
			{% endif %}
			<div class="form-group">
				<label>Message Body: </label>
				<textarea name="text" class="form-control"></textarea>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</body>
</html>