body {
    background-color: #16a085
}

.input-group.flex-nowrap {
    margin-bottom: 2%
}

.form-control {
    font-size: 14px;
    font-family: sans-serif;
}

#title-text {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
}

#key-text {
    font-size: 16px;
    font-weight: bold;
}

#body-text {
    font-size: 16px;
    font-weight: bold;
}